<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>1 April</title>
    <style>

    </style>
  </head>

  <body>
    <div style="text-align: center; height: 500px; width: 500px; margin: 0 auto;">
        <img src="pic.PNG" width="321" height="389" />
        <div style="font-weight: bold; margin-top: 20px; font-size: 28px; color: #d85883">
            Happy 1 April!
        </div>
    </div>
  </body>
</html>